.row-header{
    margin:0px auto;
    padding:0px;
}

.row-content {
    margin:0px auto;
    margin-bottom: 20px;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:200px;
}

.footer{
    color:white;
    background-color: #074E80;
    margin:0px auto;
    margin-top:25px;
    padding: 20px 0px 20px 0px;
}
.jumbotron {
    padding:70px 30px 70px 30px;
    margin:0px auto;
    background: #2074c3 ;
    color:floralwhite;
}

address{
    font-size:80%;
    margin:0px;
    color:white;

}
#links a{
    color:white;
}
#address a{
    color:white;
}
#contactlinks a{
    color:white;

}
body{
    padding-top:50px;
    z-index: 0;
}
.navbar-dark{
background-color: #074E80;
}
.contact-us-adress{
    color:black;
}
.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}
.carousel {
    background:#512DA8;
}

.carousel-item {
  height: 300px;
}

.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}
#carouselButton {
    right:0px;
    position: absolute;
    bottom: 0px;
}